* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 482px;
  height: 482px;
  border: 2px solid black;
}